{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to The Fawkes Guy Blog.  Here you can find nothing because this is just a sample shit.  The main picture will come soon.  Expect the unexpected.</p>
            <p>Visit my <a href="https://in.linkedin.com/in/niranjantuty">profile</a> to check out my new updates and code related stuff.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">View posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}